*{margin: 0;padding: 0;font-family: 'Red Hat Display'}

body{background-color: rgb(27, 27, 27);}

.app{
  max-width: 500px;
  min-width: 300px;
  height:100vh;
  min-height: 100vh;
  margin: auto;
  background-image: url('./assets/sunny.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
  position: relative;
}
main{
  height: 100%;
  background: rgba(0, 0, 0, 0.575);
}

.app-name{margin: 30px 0 15px 0;font-size: 30px;font-weight: 400;}
.comps{font-size: 15px;font-weight: 400;}

.welcome-text{
  text-align: center;
  max-width: 70%;
  margin: 12vh auto 0 auto;
}
.welcome-text h1{font-size: 40px ;text-transform: uppercase;font-weight: 400;}
.welcome-text p{font-size: 15px;}

.search-bar{
  max-width: 80%;
  margin: auto;
  transform: translateY(50%);
  display: flex;
  justify-content: space-between;
  background-color: rgb(235, 246, 255);
  border-radius: 3px;
  overflow: hidden;
}

.search-btn{
  display: block;
  border: 0;
  outline: 0;
  padding: 2px 20px;
  background-color: rgb(182, 182, 182);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.search-btn:active{background-color: rgb(68, 68, 68);}
.search-btn img{width: 30px; height: 30px;}
.search-box{
  display: block;
  padding: 16px;
  font-size: 18px;
  width: 80%;
  outline: 0;
  border: 0;
  background-color: rgb(235, 246, 255);
}

.app.sunny{background-image: url('assets/sunny.jpg');}
.app.cold{background-image: url('assets/snowy.jpg');}
.app.rain{background-image: url('assets/rainy.jpg');}
.app.cloud{background-image: url('assets/cloudy.jpg');}
.app.mist{background-image: url('assets/misty.jpg');}



.location-box, .welcome-box{
  max-width: 80%;
  margin: auto;
  color: white;
  padding: 10px;
  border-radius: 6px;
  transform: translateY(10%);
}

.location{margin-bottom: 20px;font-size: 30px;font-weight: 400;}
.date{font-size: 20px;font-weight: 400;}
.temp{
  font-size: 40px;
  font-weight: 500;
  margin-top: 30px;
  border-radius: 6px;
}
.type{
  width: 80px;
  font-size: 18px;
  padding: 2px 8px;
  border-radius: 20px;
  font-weight: 300;
  border: white 1px solid;
  text-align: center;
}

.other-dets{
  margin: 50px auto 0 auto;
  padding: 10px;
  border: white 1px solid;
  border-radius: 3px;
  text-align: left;
}
.others{margin-top: 10px;font-weight: lighter;}

#snackbar {
  visibility: hidden;
  min-width: 200px;
  margin-left: -125px;
  background-color: rgb(252, 18, 18);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@media(max-width: 800px){
  .app{background-size: cover;}
}